<dom-module id="cells-miguelramirez-login-styles"><template><style>
:host {
  display: block;
  box-sizing: border-box;
  font-family: var(--cells-fontDefault, sans-serif);
  @apply --cells-miguelramirez-login; }

:host([hidden]), [hidden] {
  display: none !important; }

*, *:before, *:after {
  font: inherit;
  box-sizing: inherit; }

  
  .login {
        width: 320px;
        margin: 16px auto;
        font-size: 16px;
      }

      /* Reset top and bottom margins from certain elements */
      .login-header,
      .login p {
        margin-top: 0;
        margin-bottom: 0;
      }

      /* The triangle form is achieved by a CSS hack */
      .login-triangle {
        width: 0;
        margin-right: auto;
        margin-left: auto;
        border: 12px solid transparent;
        border-bottom-color: #28d;
      }

      .login-header {
        background: #28d;
        padding: 20px;
        font-size: 1.4em;
        font-weight: normal;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
      }

      .login-container {
        background: #ebebeb;
        padding: 12px;
      }

      /* Every row inside .login-container is defined with p tags */
      .login p {
        padding: 12px;
      }

      .login input {
        box-sizing: border-box;
        display: block;
        width: 100%;
        border-width: 1px;
        border-style: solid;
        padding: 16px;
        outline: 0;
        font-family: inherit;
        font-size: 0.95em;
      }

      .login input[type="text"],
      .login input[type="password"] {
        background: #fff;
        border-color: #bbb;
        color: #555;
      }

      /* Text fields' focus effect */
      .login input[type="text"]:focus,
      .login input[type="password"]:focus {
        border-color: #888;
      }

      .login input[type="button"] {
        background: #28d;
        border-color: transparent;
        color: #fff;
        cursor: pointer;
      }

      .login input[type="button"]:hover {
        background: #17c;
      }

      /* Buttons' focus effect */
      .login input[type="button"]:focus {
        border-color: #05a;
      }



</style></template></dom-module>